body, h1, h3,p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

#product-name {
    margin: 0;
    font-size: 2em;
}

.artifacts {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
}

h2 {
    color:#4CAF50;
}

.artifacts p {
    color: black;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #4CAF50;
    font-weight: bold;
}

a:hover {
    color: #2d9030;
}


.interview-info {
    background-color: #ecf0f1;
    padding: 15px;
    margin: 10px 0;
}

.interview-questions {
    color: #4CAF50;
    padding-top: 10px;
}

section {
    padding: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.persona p{
    padding: 10px;
    float: left;
}

.persona-img{
    height: 150px;
    width: 150px;
    float: left;
    padding: 20px;
}

.scenarios p, .user-stories p{
    padding-bottom: 10px;
}


b {
   color: #4CAF50;
}

li{
    font-size: larger;
}

.feature-list{
   display: grid;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.persona-footer, .feature-list-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}