body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

/*add css for other sections*/





footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}